/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 236, 236);
    background-color: rgb(17, 17, 17);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 30px 0 16px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 140px;
}

.header__search {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 6px;
    width: 300px;
    color: rgb(181 210 61);
}

.cards {
    padding: 30px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 60px;
}

.card__name {
    font-size: 24px;
    margin: 12px 0px 0px 0px
}

.card__origin {
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.card__btn {
    margin-top: 20px;
    border: 2px solid rgb(181 210 61);
    width: 100%;
    padding: 12px 0;
    color: #fff;
    transition: 0.2s linear;
}

.card__btn:hover {
    background-color: #2f9fb3;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    display: flex;
    position: relative;
}

.popup__close {
    position: absolute;
    top: -26px;
    right: 0;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid #fff;
}

td {
    border: 1px solid #fff;
}

td:first-child {
    padding: 10px 10px 10px 16px;
    min-width: 200px;
}

td:last-child {
    min-width: 100px;
    padding: 16px;
    text-align: center;
}

.page {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.page__number {
    text-align: center;
}

.show {
    background-color: red;
}


